body{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(229, 23%, 23%);
    background-color:hsl(185, 75%, 39%);
    background-image:url(/resources/images/bg-pattern-top.svg),url(/resources/images/bg-pattern-bottom.svg);
    background-size:auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position-x:130%,-30%;
    background-position-y:150%,-80%;
}

@media only screen and (min-width:767px){
    body{
        background-position-x:-150%,250%;
        background-position-y:140%,-60%;   
        }
}

h2{
    font-size:18px;
}

p {
    color: hsl(227, 10%, 46%);
}

#container{
    display:flex;
    flex-direction: column;
    overflow:hidden;
    border-radius:15px;
    margin:auto;
    margin-top:150px;
    width:320px;
    height:auto;
    text-align:center;
    background-color:white;
}

#coverpp{
    background-color:white;
}

#cover{
    height:150px;
    background-image: url(/resources/images/bg-pattern-card.svg);
}

#pp{
    border-radius:50%;
    border-style:solid;
    border-width:5px;
    border-color:white;
    margin-top:-55px;

}

#maindata{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:5%;
}

#name{
    width:fit-content;
    text-align:right;
}

#age{
    width:fit-content;
    text-align:left;
}

#city{
    width:100%;
    font-size:14px;
    margin:-50px;
}


hr {
    width:100%;
    border-color:hsl(0, 0%, 100%);
    margin-top:30px;
    margin-bottom:10px;
}

#stats{
    display:flex;
    justify-content:space-evenly;
}

#stats div p{
    font-size:10px;
    margin-top:-10px;
}